<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phyho.web.BoardDAO">

	<select id="boardList" resultType="Map">
		SELECT bno, btitle, m_name, bdate, blike, commentcount,
		(SELECT count(*) FROM boardview) as totalcount
		from boardview
		ORDER BY bno DESC LIMIT #{pageNo}, 20
	</select>

	<select id="boardDetail" parameterType="Integer" resultType="Map">
		SELECT bno, btitle, m_name, bdate, blike, bcontent, commentcount 
		from boardview
		WHERE bno=#{bno}
	</select>
	
	<update id="countUp" parameterType="Integer">
		update board  set blike = blike + 1 WHERE bno=#{bno}
	</update>
	
	<insert id="write" parameterType="Map">
		INSERT INTO board (btitle, bcontent, bip, m_no)
		VALUES (#{title}, #{content}, #{bip}, (SELECT m_no FROM members WHERE m_id=#{m_id}))
	</insert>
	
	<update id="deletePost" parameterType="Integer">
		UPDATE board SET bdel=0 WHERE bno=#{bno}
	</update>
	
	<update id="update" parameterType="Map">
		UPDATE board SET btitle=#{title}, bcontent=#{content}, bip=#{bip}
		WHERE bno=#{bno}
	</update>
	
	<select id="login" parameterType="Map" resultType="Map">
		SELECT count(*) as count, m_name 
		FROM members
		WHERE m_id=#{userId} AND AES_DECRYPT(UNHEX(m_pw), 'PYO')=#{userPassword} 
	</select>

	<select id="index_members" resultType="Map">
		SELECT * FROM members
		ORDER by m_joindate DESC
		LIMIT 0, 10
	</select>
	
	<select id="commentsList" parameterType="Integer" resultType="Map">
		SELECT * FROM commentsview 
		WHERE bno=#{bno} 
		ORDER BY c_no desc
	</select>
	
	<insert id="commentWrite" parameterType="Map">
		Insert into comments(bno, c_comment, c_ip, m_no)
		VALUES(#{bno}, #{comment}, #{cip}, (SELECT m_no FROM members WHERE m_id=#{m_id}))
	</insert>
	
	<delete id="commentDel" parameterType="Integer">
		delete from comments WHERE c_no=#{cno}
	</delete>
	
	<select id="commentdetail" parameterType="Integer" resultType="Map">
		SELECT * FROM commentsview 
		WHERE c_no=#{cno}
	</select>
	
	<update id="commentUpdate" parameterType="Map">
		UPDATE comments SET c_comment=#{comment}, c_ip=#{cip}
		WHERE c_no=#{cno}
	</update>
</mapper>